$generic-white: #ffffff;
$generic-black: #161616;

$blueish-gray-25: #fcfcfd;
$blueish-gray-50: #f9fafb;
$blueish-gray-100: #f2f4f7;
$blueish-gray-200: #e4e7ec;
$blueish-gray-300: #d0d5dd;
$blueish-gray-400: #98a2b3;
$blueish-gray-500: #828fa5;
$blueish-gray-550: #68768d;
$blueish-gray-700: #344054;
$blueish-gray-800: #1d2939;
$blueish-gray-900: #101828;

$neutral-gray-100: #f5f5f5;
$neutral-gray-200: #e8e8e8;
$neutral-gray-300: #d7d7d7;
$neutral-gray-400: #a5a5a5;
$neutral-gray-500: #949494;
$neutral-gray-550: #757575;
$neutral-gray-700: #444444;
$neutral-gray-800: #2b2b2b;
$neutral-gray-900: #212121;
$neutral-gray-950: #1c1c1c;

$primary-25: #fcfaff;
$primary-50: #f9f5ff;
$primary-100: #f4ebff;
$primary-200: #e9d7fe;
$primary-300: #d6bbfb;
$primary-400: #b692f6;
$primary-500: #9e77ed;
$primary-550: #8959e8;
$primary-700: #6941c6;
$primary-800: #53389e;
$primary-900: #42307d;
$primary-950: #302358;
$primary-1000: #241b3c;

$info-25: #f5faff;
$info-50: #eff8ff;
$info-100: #d1e9ff;
$info-200: #b2ddff;
$info-300: #84caff;
$info-400: #53b1fd;
$info-500: #2e90fa;
$info-550: #0672e5;
$info-700: #175cd3;
$info-800: #1849a9;
$info-900: #194185;
$info-950: #142d5c;
$info-1000: #122241;

$success-25: #f6fef9;
$success-50: #ecfdf3;
$success-100: #d1fadf;
$success-200: #a6f4c5;
$success-300: #6ce9a6;
$success-400: #32d583;
$success-500: #12b76a;
$success-550: #0d874e;
$success-700: #027948;
$success-800: #05603a;
$success-900: #054f31;
$success-950: #043522;
$success-1000: #04281b;

$warning-25: #fffaf5;
$warning-50: #fff6ed;
$warning-100: #ffead5;
$warning-200: #fddcab;
$warning-300: #feb173;
$warning-400: #fd853a;
$warning-500: #fb6514;
$warning-550: #d14900;
$warning-700: #c4320a;
$warning-800: #9c2a10;
$warning-900: #7e2410;
$warning-950: #4e1a0e;
$warning-1000: #36140b;

$danger-25: #fffbfa;
$danger-50: #fef3f2;
$danger-100: #fee4e2;
$danger-200: #fecdc9;
$danger-300: #fda19b;
$danger-400: #f97066;
$danger-500: #f04438;
$danger-550: #e41f11;
$danger-700: #b32318;
$danger-800: #912018;
$danger-900: #7a271a;
$danger-950: #4e1d14;
$danger-1000: #361610;
