$white: #ffffff;
$black: #161616;

$blueish-gray-25: #fcfcfd;
$blueish-gray-50: #f9fafb;
$blueish-gray-100: #f2f4f7;
$blueish-gray-200: #e4e7ec;
$blueish-gray-300: #d0d5dd;
$blueish-gray-400: #98a2b3;
$blueish-gray-500: #828fa5;
$blueish-gray-550: #68768d;
$blueish-gray-700: #344054;
$blueish-gray-800: #1d2939;
$blueish-gray-900: #101828;
