@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* ━━━ Resets ━━━ */

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	overflow: hidden;

	text-rendering: optimizespeed;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1;

	label,
	button {
		cursor: pointer;
	}

	button:disabled,
	input:disabled,
	[aria-disabled='true'] {
		cursor: not-allowed;
		pointer-events: none;
	}

	pre {
		font-family: 'Fira Code', monospace;
	}
}

a {
	text-decoration: none;
}

img,
picture {
	max-width: 100%;
	display: block;
}

ul,
ol {
	list-style: none;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ━━━ Base ━━━ */
body {
	background-color: $blueish-gray-25;
	color: $blueish-gray-900;
}

a {
	color: $blueish-gray-900;
}

/* ━━━ Stories ━━━ */
.story__docs {
	p + p {
		margin-top: spacing(4);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
		line-height: 1.25;

		&:not(:first-child) {
			margin-top: spacing(4);
			margin-bottom: spacing(2);
		}
	}

	h1 {
		font-weight: 700;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.75rem;
	}

	h3 {
		font-size: 1.35rem;
		text-transform: uppercase;
	}

	h4 {
		font-size: 1.2rem;
	}

	h5 {
		font-size: 1rem;
	}

	h6 {
		font-size: 0.85rem;
	}

	ul,
	ol {
		list-style: disc;
		margin-left: 2rem;
		padding: spacing(6) 0;

		li + li {
			margin-top: spacing(2);
		}
	}
}
